<nb-layout>
  <nb-layout-header fixed>
    <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet/>
    <br/>

  </nb-layout-column>
  <nb-layout-footer fixed>
    <nav>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/info"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Info</a
          >
        </li>
      </ul>
    </nav>
  </nb-layout-footer>
</nb-layout>
